<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630083676350-bjv2gt7dt70cd3hidg6g503pq8n1ffma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630083676350-bjv2gt7dt70cd3hidg6g503pq8n1ffma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630083676350-8grl9a03k5pi1fcerlf4mkdc4kmi2sis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4pucbup41S8PjL2zWwVpc7mCFbh4VFMw</string>
	<key>GCM_SENDER_ID</key>
	<string>630083676350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>first-sms-login-test</string>
	<key>STORAGE_BUCKET</key>
	<string>first-sms-login-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630083676350:ios:ea6287ac0430c020ead6ef</string>
	<key>DATABASE_URL</key>
	<string>https://first-sms-login-test.firebaseio.com</string>
</dict>
</plist>