<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <!-- List of Text Items -->
<ion-list>
  <ion-item tappable routerLink="/me/settings/push-notifications" detail>
    <ion-label>Push Notifications</ion-label>
  </ion-item>
  <ion-item tappable routerLink="/me/settings/email-notifications" detail>
    <ion-label>Email Notifications</ion-label>
  </ion-item>
  <ion-item tappable routerLink="/me/settings/privacy-settings" detail>
    <ion-label>Privacy Settings</ion-label>
  </ion-item>
  <ion-item (click)="locationAccess()">
    <ion-label>Location Settings</ion-label>
  </ion-item>
  <ion-item lines="none" (click)="clearHistory()">
    <ion-label>Clear History</ion-label>
  </ion-item>
</ion-list>

<ion-item class="logout" lines="none" tappable (click)="signOut()">
  <ion-label>Log out</ion-label>
</ion-item>

</ion-content>
