<ion-content class="ion-padding">
  <!-- logo -->
  <div class="lanch">
    <ion-img class="lanchlogo" alt="fail" src="/assets/image/signup_logo.png"></ion-img>
  </div>

  <ion-item class="input">
    <ion-icon class="inputicon" slot="start" color="dark" name="person"></ion-icon>
    <ion-label class="mylabel" position="floating">Email address</ion-label>
    <ion-input class="myinput" type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-icon class="inputicon" slot="start" color="dark" name="key"></ion-icon>
    <ion-label class="mylabel" position="floating">Password</ion-label>
    <ion-input [type]="showPassword ? 'text':'password'" [(ngModel)]="password"></ion-input>
    <ion-icon class="eye" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
  </ion-item>

  <ion-button class="login-btn" fill="solid" color="dark" (click)="login()">LOGIN</ion-button>

  <div class="forgetpassword">
    <p>Forget Password?</p>
  </div>

  <div class="order">
    <span class="line"></span>
    <span class="txt">OR</span>
    <span class="line"></span>
  </div>

  <div class="g">
    <!-- <ion-button color="dark" (click)="doGoogleLogin()">
      <ion-icon slot="start" name="logo-google"></ion-icon> 
      LOGIN WITH GOOGLE
    </ion-button> -->
    <firebase-ui
    (signInSuccessWithAuthResult)="successCallback($event)"
    (signInFailure)="errorCallback($event)">
    </firebase-ui>
    <!-- <h1 *ngIf="afAuth.auth.currentUser">Welcome {{afAuth.auth.currentUser.displayName}}</h1> -->
    <!-- <ion-button (click)="signOut()">
      Sign Out
    </ion-button> -->
    <!-- google login auth -->
  </div>



  <div class="signup">
    <p>Don't Have An Account?</p>
    <ion-button class="sign" fill="clear" [routerLink]="['../register']">SIGN UP</ion-button>
  </div>
    


</ion-content>
