.username{
    color: white;
    height: 150px;
}

.userinfo{
    margin-top: 12px;
    height: 100px;
    background-color: rgb(41, 40, 40);
    padding-top: 18px;
    padding-left: 14px;
}
span{
    display: inline-block;
    vertical-align: middle;
}
ion-label{
    margin-left: 17px;
    color: white;
    font-size: 15pt;
}
