<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-header>

    </ion-header>


    <ion-content>
      <ion-list>

      <!-- user info -->
      <ion-menu-toggle auto-hide='false'>
        <div class="userinfo" routerLink="/menu/profile">
          <span>
          <ion-avatar slot="start" class="user-avatar">
            <img src="assets/image/avatar.png">
          </ion-avatar>
          </span>
          <span>
          <ion-label>
            <ion-text class="username">
              {{username}}
            </ion-text>
          </ion-label>
          </span>
        </div>
      </ion-menu-toggle>

        <!-- menu list -->

        <ion-menu-toggle auto-hide='false' *ngFor="let p of pages">
          <ion-item [routerLink]='p.url' routerDirection="root" [class.activate-item]='selectedPath === p.url'>
            <ion-label class="mlist">{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>