ion-list{
    padding-top: 0px;
}
.userinfo{
    // margin-top: 12px;
    height: 150px;
    background-color: rgb(41, 40, 40);
    padding-top: 40px;
    padding-left: 25px;
    vertical-align: middle;
}

span{
    display: inline-block;
    vertical-align: middle;
}
ion-label{
    margin-left: 17px;
    color: white;
    font-size: 15pt;
}

ion-item{
    height: 55px;
}