<ion-tabs>
  <!-- add to hide [#myTabBar id="myTabBar"] -->
  <ion-tab-bar slot="bottom" color="dark">

  <ion-tab-button tab="feed">
  <ion-icon name="ios-home"></ion-icon>
  <ion-label>Service</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="collections">
  <ion-icon name="bookmark"></ion-icon>
  <ion-label>Collections</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="history">
    <ion-icon name="md-list-box"></ion-icon>
    <ion-label>Order</ion-label>
    </ion-tab-button>
  
  <ion-tab-button tab="me">
  <ion-icon name="person"></ion-icon>
  <ion-label>Me</ion-label>
  </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>