<ion-header>
  <ion-toolbar>
    <ion-title>review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{ order.name }}</ion-title>
  
  <ionic4-star-rating #rating
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#488aff" 
    defaultColor = "#f4f4f4"
    readonly="false"
    halfStar = "true"
    rating="3"
    fontSize = "32px"
    (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>

  <!-- <form [formGroup]="customForm">
    <ionic4-star-rating #rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#d1301a"
        defaultColor = "#aaaaaa"
        readonly = "false"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)"
        formControlName="starRating">
    </ionic4-star-rating>
  </form> -->

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Write you review</ion-label>
  <ion-textarea [(ngModel)]="review"></ion-textarea>
</ion-item>

  <ion-button (click)="postReview()" expand="block" fill="clear" shape="round">
    Post Review
  </ion-button>

</ion-content>
