<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-content>

    <div class='toparea'>
      <div class="ava">
      <ion-avatar>
        <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />

        <ion-img class="profile-pic" (click)="updateProfilePic()" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img>
        
      </ion-avatar>
      </div>
      <div class="edit"> 
        <ion-icon name="create"></ion-icon>
      </div>
    </div>

    <div class="info">
      <ion-item routerLink="./update-first-name">
        <ion-label>
          <p class="ptitle">First Name</p>
          <p class="pinput">{{firstname}}</p>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
      <ion-item routerLink="./update-last-name">
        <ion-label>
          <p class="ptitle">Last Name</p>
          <p class="pinput">{{lastname}}</p>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
      <ion-item routerLink="./update-email">
        <ion-label>
          <p class="ptitle">Email</p>
          <p class="pinput">{{email}}</p>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
      <ion-item routerLink="./verify-password">
        <ion-label>
          <p class="ptitle">Password</p>
          <p class="pinput">******</p>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
    </div>
  
  </ion-content>
  
</ion-content>