.slide{
    padding-bottom: 10%;
}
.btn{
    width: 80%;
    margin: 0px auto;
}

ion-button{
    margin-top: 10px;
    height: 45px;
}

.vendor{
    --background: rgb(116, 116, 116);
    --background-hover: rgb(134, 134, 134);
}