<ion-header>
  <ion-toolbar>
    <ion-title>Order History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty" *ngIf="!orders.length">
    <div id='circle'>
      <div>
        <ion-icon class='blank' src="assets/icon/history.svg"></ion-icon>
      </div>
    </div>
    <ion-label>NO ORDERS</ion-label>
    <ion-text>Your don't have any orders in your history!</ion-text>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let order of orders">
      <!-- <ion-item button [routerLink]="['/service-detail', service.id]"> -->
      <ion-item button >
        <ion-avatar slot="start">
          <img [src]="order.picture">
        </ion-avatar>

        <ion-label>
          {{ order.name }}
          <p>{{ order.description }}</p>
          <p>{{ order.createdAt | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="order.price">{{ order.price | currency: 'BRL' }}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="navToReview(order)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Review
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
