
<ion-content>
  <div>
    <ion-icon class="back" slot="start" name="close" routerLink="/home/me/profile"></ion-icon>
  </div>

  <div class="edit">
    <ion-title>New Password</ion-title>
    <ion-item lines="none">
      <ion-input [type]="showPassword ? 'text':'password'" [(ngModel)]="newpassword"></ion-input>
      <ion-icon class="eye" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
  </div>
  <div class="update">
  <ion-item class="update-btn" color="dark" (click)="updateDetails()">
    <div>Update Password</div>
  </ion-item>
  </div>

</ion-content>