.back{
    margin: 5% 2% 10% 4%;
    font-size: 20pt;
}

.edit{
    margin-top: 15%;
    ion-title{
        color: rgb(53, 53, 53);
        font-size: 13pt;
        font-weight: 350;
        margin-bottom: 10px;
    }
    ion-item{
        width: 90%;
        --background: rgb(224, 224, 224);
        margin: 0px auto;
    }
    ion-input{
        --background: rgb(224, 224, 224);
        // width: 90%;
        margin: 0px auto;
        height: 50px;
    }
}

.update{
    position: fixed; bottom: 0;
    padding-bottom: 10%;
    width: 100%;
    .update-btn{
        width: 90%;
        margin: 0px auto;
        div{
            width: 100%;
            text-align: center;
        }
    }
}