<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>service-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="service.name" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="service.description" placeholder="Description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="service.picture" placeholder="Picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="service.price" placeholder="Price"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- TODO: -->
    <ion-button (click)="saveProduct()" expand="block">
      Salvar produto
    </ion-button>
  </ion-toolbar>
</ion-footer>