<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
  
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Appliances</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Electrical</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Plumbling</ion-card-title>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Home Cleaning</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Tutoring</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Packaging and Moving</ion-card-title>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Computer Repair</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Home Repair and Painting</ion-card-title>
        </ion-col>
        <ion-col>
          <img src="assets/img/avatar.jpeg">
          <ion-card-title>Pest Control</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
