<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  
</ion-header>

<ion-content>
  <div class="recommand">
    <ion-img src="assets/image/backrecommand.jpg"></ion-img>
  </div>

  <div class="recword">
    <ion-text>Keep your kitchen running smoothly</ion-text>
    <ion-button fill="outline">
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-text class="ion-text-capitalize">kitchme</ion-text>
    </ion-button>
  </div>

  <ion-searchbar placeholder="Search for home services on Uber SMS" showCancelButton (ionInput)="filterService($event)"></ion-searchbar>
  <ion-list class="ion-margin-horizontal" [hidden]="!flag">
    <ion-item-sliding *ngFor="let item of goalService">
      <ion-item button [routerLink]="['/place-request', item.id]">
        <ion-avatar>
          <!-- TODO: -->
          <img src="assets/image/avatar.png">
        </ion-avatar>
        <ion-label> {{ item.name }} </ion-label>
        <ion-chip class="first">
          <ion-label>Plumbing</ion-label>
        </ion-chip>
        <br>
        <ion-text>10.5mi</ion-text>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- user for refresher -->
  <ion-content>

    <!-- refresher -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="" refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <!-- categories -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="cgicon" routerLink="../appliances" [queryParams]="{service: 'appliance'}" src="assets/icon/categories/appliance.png">
          <ion-card-title>Appliances</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'electrical'}" src="assets/icon/categories/electrical.png">
          <ion-card-title>Electrical</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'plumbing'}" src="assets/icon/categories/plumbing.png">
          <ion-card-title>Plumbling</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'cleaning'}" src="assets/icon/categories/homecleaning.png">
          <ion-card-title>Home Cleaning</ion-card-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'tutoring'}" src="assets/icon/categories/tutor.png">
          <ion-card-title>Tutoring</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'moving'}" src="assets/icon/categories/move.png">
          <ion-card-title>Packaging & Moving</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../service-lists" [queryParams]="{service: 'repair'}" src="assets/icon/categories/monitor.png">
          <ion-card-title>Computer Repair</ion-card-title>
        </ion-col>
        <ion-col>
          <img class="cgicon" routerLink="../allservices" src="assets/icon/categories/more.png">
          <ion-card-title>More</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="break"></div>

    <!-- recommand vendors -->
    
    <div class="vendor">
      <div class="pfy"><ion-text>Picks for you</ion-text></div>
      <ion-icon class="heart" src="assets/icon/heart.svg"></ion-icon>

      <div class="list">
        <ion-card id="1" *ngFor="let vendor of vendorList">
          <div class="avatar">
            <ion-avatar>
              <img src="assets/image/avatar.png">
            </ion-avatar>
          </div>
          <div class="vinfo">
            <div class="title">
              <div class="v">
                <ion-text></ion-text>
              </div>
              <ion-text class="t">{{vendor.name}}</ion-text>
              <div class="distance">
                <ion-text>10.5mi</ion-text>
              </div>
            </div>
            <div class="eval">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="skill">
              <ion-chip class="first">
                <ion-label>{{vendor.category}}</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>Tutor</ion-label>
              </ion-chip>
              <div class="price">
                <ion-text>$ {{vendor.price}}/h</ion-text>
              </div>
            </div>
          </div>
        </ion-card>

      </div>
    </div>

  <!-- user for refresher -->
  </ion-content>

</ion-content>
