// #map_canvas {
//     width: 100%;
//     height: 40vh;
//   }
.recommand{
  width: 100%;
  height: 35%;
  overflow: hidden;
  position: absolute;
}

.recword{
  margin: 12% 20% 2% 5%;
  position: absolute;
  z-index: 999;
  ion-text{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18pt;
  }
  ion-button{
    margin-top: 2%;
    margin-left: -0.1%;
    --border-color: white;
    width: 38%;
    height: 32px;
    --box-shadow: 0px;
    --ripple-color: rgb(134, 134, 134);
    --border-width: 1px;
    ion-icon{
      color: rgb(201, 201, 201);
    }
    ion-text{
      font-size: 8.5pt;
      font-weight: 200;
    }
  }
}

ion-searchbar{
  margin-top: 51%;
  margin-bottom: 1%;
  --icon-color: rgb(61, 61, 61);
  padding: 0% 5% 0% 5% !important;
}

.cgicon{
  width: 60%;
  outline: none;
}

ion-refresher{
  z-index: 999;
  ion-icon{
    color: black;
  }
}

ion-grid{
  margin-bottom: 2%;
  ion-col{
    text-align: center;
    ion-card-title{
      font-size: 8.5pt;
    }
  }
  
}

.break{
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 2%;
}

.vendor{
  width: 100%;
  height: 50%;
  .pfy{
    margin: 6% 0% 0% 5%;
    display: inline-block;
    ion-text{
      font-weight: bold;
      font-size: 18pt;
      color: rgb(43, 43, 43);
  }}
  
  .heart{
    float: right;
    font-size: 50px;
    margin: 4% 5% 0% 0%;
  }

  .list{
    padding-top: 8%;
    display: block;
    margin: 2%;
    ion-card{
      width: 95%;
      padding: 5% 2% 5% 6%;
      margin-bottom: 5%;

      .avatar{
        float: left;
        padding-top: 3%;
      }
      .vinfo{
        padding-left: 24%;
        padding-right: 5%;
        .title{
          width: 100%;
          .v{
            float: left;
          }
          .t{
            font-size: 13pt;
            font-weight: bold;
            color: rgb(22, 22, 22);
          }
          .distance{
            float: right;
            ion-text{
              font-size: 9pt;
            }
          }
        }
        .eval{
          margin-top: 5%;
          color: rgb(252, 179, 21);
          font-size: 14pt;  
        }
        .skill{
          width: 100%;
          .first{
            --background: rgb(36, 131, 255);
            ion-label{
              color: white;
            }
          }
          ion-chip{
            padding: 4px 8px 3px 8px;
            margin: 5px 5px 0px 0px;
            height: 25px;
            display: inline-block;
            ion-label{
              // font-weight: bold;
              font-size: 9pt;
            }
          }
          
        }
        .price{
          float: right;
          ion-text{
            font-size: 16pt;
            font-weight: bold;
            color: rgb(36, 36, 36);
          }

        }
      }
    }
  }

}