<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ServeMe Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
  <ion-item class="cgtitle" color="light" lines="none">Categories</ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/appliance.png">
        <ion-card-title>Appliances</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/electrical.png">
        <ion-card-title>Electrical</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/plumbing.png">
        <ion-card-title>Plumbling</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/homecleaning.png">
        <ion-card-title>Home Cleaning</ion-card-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/tutor.png">
        <ion-card-title>Tutoring</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/move.png">
        <ion-card-title>Packaging & Moving</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../service-lists" src="assets/icon/categories/monitor.png">
        <ion-card-title>Computer Repair</ion-card-title>
      </ion-col>
      <ion-col>
        <img class="cgicon" routerLink="../allservices" src="assets/icon/categories/more.png">
        <ion-card-title>More</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
