<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">
      Sign up
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- logo -->
  <div class="lanch">
    <ion-img class="lanchlogo" alt="fail" src="/assets/image/signup_logo.png"></ion-img>
  </div>

  <ion-card class="bg-signup">

    <ion-item>
      <ion-label class="mylabel" position="floating">Email address</ion-label>
      <ion-input class="myinput" type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="mylabel" position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="mylabel" position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>
  </ion-card>


  <ion-button class="signup" fill="solid" expand="block" color="dark" (click)="register()">Sign up</ion-button>
  
  <!-- google login auth -->
  <ion-button class="google-btn" fill="solid" expand="block" (click)="doGoogleLogin()">
    <img src="../../../assets/image/google_login.png">
  </ion-button>

  <!-- facebook login auth -->
  <ion-button class="facebook-btn" fill="solid" expand="block">
    <img src="../../../assets/image/facebook_login.png">
  </ion-button>
</ion-content>
