<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</ion-header>


<ion-content class="ion-padding">

  <!-- logo -->
  <div class="lanch">
    <ion-img class="lanchlogo" alt="fail" src="/assets/image/signup_logo.png"></ion-img>
  </div>

  <div class="name">
    <ion-item class="fname">
      <ion-icon slot="start" color="dark" name="person"></ion-icon>
      <ion-label class="mylabel" position="floating">First Name</ion-label>
      <ion-input class="myinput" type="text" [(ngModel)]="firstname"></ion-input>
    </ion-item>
    <ion-item class="lname">
      <ion-label class="mylabel" position="floating">Last Name</ion-label>
      <ion-input class="myinput" type="text" [(ngModel)]="lastname"></ion-input>
    </ion-item>
  </div>
  <ion-item>
    <ion-icon slot="start" color="dark" name="mail"></ion-icon>
    <ion-label class="mylabel" position="floating">Email address</ion-label>
    <ion-input class="myinput" clearInput type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="dark" name="key"></ion-icon>
    <ion-label class="mylabel" position="floating">Password</ion-label>
    <ion-input type="password" clearInput [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item class="lastitem">
    <ion-icon slot="start" color="dark" name="lock"></ion-icon>
    <ion-label class="mylabel" position="floating">Confirm Password</ion-label>
    <ion-input type="password" clearInput [(ngModel)]="cpassword"></ion-input>
  </ion-item>

  <ion-button class="signup" fill="solid" color="dark" (click)="register()">REGISTER</ion-button>
  
  <div class="backlogin">
    <p>Already Have An Account?</p>
    <ion-button class="login" fill="clear" [routerLink]="['../login']">LOGIN</ion-button>
  </div>


</ion-content>
