.header{
    font-size: 14pt;
    padding-left: 1px;
}

.lanchlogo{
    width: 60%;
    margin: 0px auto;
}
.lanch{
    margin-top: 5%;
    margin-bottom: 10%;
}

ion-item{
    --highlight-height: 0;
    width: 90%;
    margin: 0px auto;
}
.mylabel{
    font-size: 11pt;
    color: #979797;
}



ion-button{
    margin-bottom: 10px;
    padding: 0px 15px 0px 15px;
}
.signup{
    margin-top: 20px;
    font-weight: 600;
}
.google-btn{
    --border-color: white;
    --background: white;
    --background-hover: white;
}

.facebook-btn{
    --border-color: #3c5a98;
    --background: #3c5a98;
    --background-hover: #3c5a98;
}

