<ion-header>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</ion-header>

<ion-content class="ion-padding">
  <!-- Textarea in an item with a floating label -->
  <div class="avatar">
    <ion-avatar>
      <img src={{data.picture}}>
    </ion-avatar>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>{{data.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data.description}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data.category}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data.price}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rate: {{data.rate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Your Prefered Start Date</ion-label>
      <ion-datetime value="2020-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Your Prefered Start Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2020-02-19T07:43Z"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Place write the details of your request</ion-label>
    <ion-textarea [(ngModel)]="request_details"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="placeOrder()" expand="block">
      Place order
    </ion-button>
  </ion-toolbar>
</ion-footer>